@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 231 48% 20%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 40% 90%;
    --secondary-foreground: 231 48% 30%;
    --muted: 231 40% 90%;
    --muted-foreground: 231 40% 60%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 30% 88%;
    --input: 231 30% 92%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 36 100% 50%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 20% 12%;
    --foreground: 0 0% 98%;
    --card: 231 20% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 231 20% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 9%;
    --secondary: 231 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 36 100% 55%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 25%;
    --input: 231 20% 25%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 36 100% 55%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
